<!DOCTYPE html>
<html lang="pt-BR">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 
    <h1>OOPS! 404 This Page doesn't exists.</h1>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>