<!DOCTYPE html>
<html lang="pt-BR">
<%- include('./partials/head.ejs') %> 
<body class="authPage">
    <%- include('./partials/nav.ejs') %> 
    <form action="/api/ad/login" method="post" class="form">
        <div class="inputGroup">
            <label for="user" style="display: block;">Usuário</label>
            <input type="text" name="user" id="user" class="user">
        </div>
        <div class="inputGroup">
            <label for="pass" style="display: block;">Senha</label>
            <input type="password" name="pass" id="pass">
        </div>
        <button class="button-4" role="button" type="submit">Enviar</button>
    </form>
    <%- include('./partials/footer.ejs') %> 

    <script>
            const result = await (await fetch('http://localhost:3000/', {
              method: 'POST',
              credentials: 'include', // Needed to include the cookie
              headers: {
                'Content-Type': 'application/json',
                'Authentication': `Bearer ${accesstoken}`
              },
              body: JSON.stringify({
                user: user,
                password: password,
              }),
            })).json();
            
          //  if (result.accesstoken) {
            //  setUser({
            //    accesstoken: result.accesstoken,
            //  });
              //navigate('/');
            //} else {
             // console.log(result.error);
           // };
    </script>
</body>
</html>