<!DOCTYPE html>
<html lang="pt-BR">
<%- include('./partials/head.ejs') %> 
<body class="authPage">
    <%- include('./partials/nav.ejs') %> 
    <%- include('./partials/messages.ejs')%>

    <form action="/api/ad/login" method="post" class="form">
        <div class="inputGroup">
            <label for="user" style="display: block;">Usuário</label>
            <input type="text" name="user" id="user" class="user" required>
        </div>
        <div class="inputGroup">
            <label for="pass" style="display: block;">Senha</label>
            <input type="password" name="pass" id="pass" required>
        </div>
        <button class="button-4" role="button" type="submit">Enviar</button>
    </form>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>