<!DOCTYPE html>
<html lang="pt-BR">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="resultado">
        <h1>Claretiano - BHO</h1>
        <h3>Permission Denied!</h3>
        <p>Permissão negada, caso ache que esta mensagem não deveria estar aparecendo para você, contate o Administrador.</p>
    </div>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>