<footer class="footer">
    BHO - Controle de Login Usuário Visitante
    <a href="www.portal.redeclaretiano.edu.br/br" target="_blank"><img src="Logo_Colegio_whatsapp.png" alt="Logo Claret" class="img-logo"></a>
</footer>