<nav>
    <div class="site-title">
        <h1><a href="/">Claretiano</a></h1>
    </div>
    <% if(user) {%>
        <ul>
            <li><a href="/home">home</a></li>
        </ul>
    <% } %>
</nav>